/* Styling for home */

body {
    background-color: seagreen;
}

.header_margin {
    margin-top: 150px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_header {
    color: black;
    font-size: 50px;
}

.btns_content{
    margin-top: 20px;
    gap: 10px;
}

.btns_content h3{ 
    text-align: center;
    flex-direction: column;

}

#content_container {
    background-color: rgb(72, 170, 226);
    border: 2px solid;
    border-radius: 10px;
    padding: 50px;
}


.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    margin-bottom: 50px;


}



.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;

}



/* Styling for room */

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;

}

h2{
    text-align: center;

}


#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}
