{% extends 'base.html' %}
{% block content %} 

<div id="content_container">
    <form method="post" class="buttons">
        <h1 id="main_header"> Ephemeral Chat Lite*</h1>
        <div class="btns_content">
            <h3>Enter The Chat Room:</h3>
            <div>
                <label for="">Name:</label>
                <input type="text" placeholder="Pick a name!" name="name" value="{{name}}">
                <!-- we use value to pass into this template the name the user has passed in previously (incase of mistake)-->
            </div>

            <div class="join">
                <input type="text" placeholder="Room Code" name="code" value="{{code}}">
                <button type="submit" name="join">Join a Room</button>
            </div>
            <button type="submit" name="create" class="create-btn"> Create a Room</button>
            {% if error%}
            <ul>
                <li>{{error}}</li>
            </ul>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}